#Datasheets
Datasheets/

#Kicad files
Macropad_STM32/Macropad_STM32-backups
Macropad_STM32/fp-info-cache
Macropad_STM32/#auto_saved_files#
Macropad_STM32/Macropad_STM32.kicad_prl
Macropad_STM32/_autosave-Macropad_STM32.kicad_pcb
Macropad_STM32/~Macropad_STM32.kicad_sch.lck
Macropad_STM32/~_autosave-Macropad_STM32.kicad_pcb.lck

#Matrix PCB
Macropad_STM32/MatrixPCB/MatrixPCB-backups
Macropad_STM32/MatrixPCB/fp-info-cache
Macropad_STM32/MatrixPCB/MatrixPCB.kicad_prl
Macropad_STM32/MatrixPCB/MatrixPCB
Macropad_STM32/MatrixPCB/MatrixPCB.kicad_sch
Macropad_STM32/MatrixPCB/MatrixPCB1.step