#Datasheets
Datasheets/

#Kicad files
Macropad_STM32/Macropad_STM32-backups
Macropad_STM32/fp-info-cache
Macropad_STM32/#auto_saved_files#
Macropad_STM32/Macropad_STM32.kicad_prl
Macropad_STM32/_autosave-Macropad_STM32.kicad_pcb
Macropad_STM32/~Macropad_STM32.kicad_sch.lck
Macropad_STM32/~_autosave-Macropad_STM32.kicad_pcb.lck
Macropad_STM32/Macropad_STM32.xml
Macropad_STM32/PCB_Output/
Macropad_STM32/USBHUB.kicad_sch
Macropad_STM32/matrix.kicad_sch
Macropad_STM32/production/
Macropad_STM32/Macropad_STM32.csv
Macropad_STM32/~Macropad_STM32_pcb.lck


#Matrix PCB
Macropad_STM32/MatrixPCB/MatrixPCB.kicad_pcb
Macropad_STM32/MatrixPCB/MaxtrixPCB1.step
Macropad_STM32/MatrixPCB/MatrixPCB-backups
Macropad_STM32/MatrixPCB/fp-info-cache
Macropad_STM32/MatrixPCB/MatrixPCB.kicad_prl
Macropad_STM32/MatrixPCB/MatrixPCB
Macropad_STM32/MatrixPCB/MatrixPCB.kicad_sch
Macropad_STM32/MatrixPCB/MatrixPCB1.step

Macropad_STM32/Software/build/main.d
Macropad_STM32/Software/build/main.lst
Macropad_STM32/Software/build/main.o
Macropad_STM32/Software/build/startup_stm32f103xb.d
Macropad_STM32/Software/build/startup_stm32f103xb.o
Macropad_STM32/Software/build/stm32f1xx_hal_cortex.d
Macropad_STM32/Software/build/stm32f1xx_hal_cortex.lst
Macropad_STM32/Software/build/stm32f1xx_hal_cortex.o
Macropad_STM32/Software/build/stm32f1xx_hal_dma.d
Macropad_STM32/Software/build/stm32f1xx_hal_dma.lst
Macropad_STM32/Software/build/stm32f1xx_hal_dma.o
Macropad_STM32/Software/build/stm32f1xx_hal_exti.d
Macropad_STM32/Software/build/stm32f1xx_hal_exti.lst
Macropad_STM32/Software/build/stm32f1xx_hal_exti.o
Macropad_STM32/Software/build/stm32f1xx_hal_flash_ex.d
Macropad_STM32/Software/build/stm32f1xx_hal_flash_ex.lst
Macropad_STM32/Software/build/stm32f1xx_hal_flash_ex.o
Macropad_STM32/Software/build/stm32f1xx_hal_flash.d
Macropad_STM32/Software/build/stm32f1xx_hal_flash.lst
Macropad_STM32/Software/build/stm32f1xx_hal_flash.o
Macropad_STM32/Software/build/stm32f1xx_hal_gpio_ex.d
Macropad_STM32/Software/build/stm32f1xx_hal_gpio_ex.lst
Macropad_STM32/Software/build/stm32f1xx_hal_gpio_ex.o
Macropad_STM32/Software/build/stm32f1xx_hal_gpio.d
Macropad_STM32/Software/build/stm32f1xx_hal_gpio.lst
Macropad_STM32/Software/build/stm32f1xx_hal_gpio.o
Macropad_STM32/Software/build/stm32f1xx_hal_msp.d
Macropad_STM32/Software/build/stm32f1xx_hal_msp.lst
Macropad_STM32/Software/build/stm32f1xx_hal_msp.o
Macropad_STM32/Software/build/stm32f1xx_hal_pcd_ex.d
Macropad_STM32/Software/build/stm32f1xx_hal_pcd_ex.lst
Macropad_STM32/Software/build/stm32f1xx_hal_pcd_ex.o
Macropad_STM32/Software/build/stm32f1xx_hal_pcd.d
Macropad_STM32/Software/build/stm32f1xx_hal_pcd.lst
Macropad_STM32/Software/build/stm32f1xx_hal_pcd.o
Macropad_STM32/Software/build/stm32f1xx_hal_pwr.d
Macropad_STM32/Software/build/stm32f1xx_hal_pwr.lst
Macropad_STM32/Software/build/stm32f1xx_hal_pwr.o
Macropad_STM32/Software/build/stm32f1xx_hal_rcc_ex.d
Macropad_STM32/Software/build/stm32f1xx_hal_rcc_ex.lst
Macropad_STM32/Software/build/stm32f1xx_hal_rcc_ex.o
Macropad_STM32/Software/build/stm32f1xx_hal_rcc.d
Macropad_STM32/Software/build/stm32f1xx_hal_rcc.lst
Macropad_STM32/Software/build/stm32f1xx_hal_rcc.o
Macropad_STM32/Software/build/stm32f1xx_hal_tim_ex.d
Macropad_STM32/Software/build/stm32f1xx_hal_tim_ex.lst
Macropad_STM32/Software/build/stm32f1xx_hal_tim_ex.o
Macropad_STM32/Software/build/stm32f1xx_hal_tim.d
Macropad_STM32/Software/build/stm32f1xx_hal_tim.lst
Macropad_STM32/Software/build/stm32f1xx_hal_tim.o
Macropad_STM32/Software/build/stm32f1xx_hal.d
Macropad_STM32/Software/build/stm32f1xx_hal.lst
Macropad_STM32/Software/build/stm32f1xx_hal.o
Macropad_STM32/Software/build/stm32f1xx_it.d
Macropad_STM32/Software/build/stm32f1xx_it.lst
Macropad_STM32/Software/build/stm32f1xx_it.o
Macropad_STM32/Software/build/stm32f1xx_ll_usb.d
Macropad_STM32/Software/build/stm32f1xx_ll_usb.lst
Macropad_STM32/Software/build/stm32f1xx_ll_usb.o
Macropad_STM32/Software/build/STM32Macropad.bin
Macropad_STM32/Software/build/STM32Macropad.elf
Macropad_STM32/Software/build/STM32Macropad.hex
Macropad_STM32/Software/build/STM32Macropad.map
Macropad_STM32/Software/build/syscalls.d
Macropad_STM32/Software/build/syscalls.lst
Macropad_STM32/Software/build/syscalls.o
Macropad_STM32/Software/build/sysmem.d
Macropad_STM32/Software/build/sysmem.lst
Macropad_STM32/Software/build/sysmem.o
Macropad_STM32/Software/build/system_stm32f1xx.d
Macropad_STM32/Software/build/system_stm32f1xx.lst
Macropad_STM32/Software/build/system_stm32f1xx.o
Macropad_STM32/Software/build/usb_device.d
Macropad_STM32/Software/build/usb_device.lst
Macropad_STM32/Software/build/usb_device.o
Macropad_STM32/Software/build/usbd_conf.d
Macropad_STM32/Software/build/usbd_conf.lst
Macropad_STM32/Software/build/usbd_conf.o
Macropad_STM32/Software/build/usbd_core.d
Macropad_STM32/Software/build/usbd_core.lst
Macropad_STM32/Software/build/usbd_core.o
Macropad_STM32/Software/build/usbd_ctlreq.d
Macropad_STM32/Software/build/usbd_ctlreq.lst
Macropad_STM32/Software/build/usbd_ctlreq.o
Macropad_STM32/Software/build/usbd_desc.d
Macropad_STM32/Software/build/usbd_desc.lst
Macropad_STM32/Software/build/usbd_desc.o
Macropad_STM32/Software/build/usbd_hid.d
Macropad_STM32/Software/build/usbd_hid.lst
Macropad_STM32/Software/build/usbd_hid.o
Macropad_STM32/Software/build/usbd_ioreq.d
Macropad_STM32/Software/build/usbd_ioreq.lst
Macropad_STM32/Software/build/usbd_ioreq.o
.vscode/c_cpp_properties.json
STM32Make.make
.vscode/settings.json
.vscode/launch.json
openocd.cfg
.vscode/tasks.json
